Django == 1.10.7
Markdown == 2.6.8
Twisted == 17.1.0
django-colorful == 1.2
django-durationfield == 0.5.4
django-model-utils == 2.6.1
django-registration-redux == 1.5
djangorestframework == 3.6.2
gunicorn == 19.7.1
psycopg2 == 2.7.1
python-dateutil == 2.6
pytz == 2017.2
