{% extends "base_generic.html" %}

{% block style %}
<style>
ul {
    list-style: none;
    padding:5px;
    margin:5px;
    }

.video_container {
    overflow:auto;
}

.player-container {
    float: left;
    padding: 0px 16px 16px 16px;
    }

.player {
    width: 640px; 
    height: 360px;
}

.video-info {
    overflow:auto;
    margin: 0px 16px 0px 16px;
    padding: 16px;
    border-radius: 8px;
    background-color:#eaeaea;
    min-width: 100px;
}

.video-description {
    overflow:auto;
    margin: 0px 16px 0px 16px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color:#eaeaea;
    font-size:120%;
    clear:both;
}

#player-error-container {
    background-image: url("{{ video.large_thumbnail_url }}");
    background-size: contain;
    width: 640px;
    height: 360px;
    overflow: auto;
}

#player-error-message  {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 3em;
    text-align: center;
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
#player-error-message h1 {
    margin: 0;
    font-size: 2em;
}

</style>
{% endblock style %}



{% block content %}

<div class="video_container">
        <div class="player-container">
            {% if video_error %}
            <div id="player-error-container">
                <div id="player-error-message"><h1>{{ video_error }}</h1>{{ video_error_explanation }}</div>
            </div>
            {% elif video.ogv_url or video.mp4_url %}
            <video class="player" poster="{{ video.large_thumbnail_url }}" controls>
              {% if video.ogv_url %}
                <source src="{{ video.ogv_url }}" type="video/ogg"/>
              {% endif %}
              {% if video.mp4_url %}
                 <source src="{{ video.mp4_url }}" type="video/mp4"/>
              {% endif %}
                <div id="player-error-container">
                    <div id="player-error-message">
                        <h1>Browser does not support HTML5 video</h1>
                        Please use Chrome, Opera, Firefox or any other browser which supports Ogg Theora.
                    </div>
                </div>
            </video>
            {% else %}
            <div id="player-error-container">
                <div id="player-error-message"><h1>Video not available</h1></div>
            </div>
            {% endif %}
        </div>
        <div class="video-info">
            {% if video.organization %}
            <div>
                <a href="/organization/{{ video.organization.id }}">{{ video.organization }}</a>
            </div>
            {% endif %}
            {% if video.ref_url %}
            <div>
                <a href="http://{{ video.ref_url }}" target="_blank">{{ video.ref_url }}</a>
            </div>
            {% endif %}
            <div>Editor: <i>{{ video.editor.first_name }} {{ video.editor.last_name }}</i></div>
            <div>Category:
                <i> 
                {% for category in video.category_list %}
                    <span style="background-color:{{ category.rgb }};border-radius: 4px;padding:2px;">{{ category }}</span>
                {% endfor %}
                </i>
            </div>
            <div>
                <small>Uploaded: <i>{{ video.uploaded_time|date:"d M Y"}}</i></small>
            </div>
            <div>
                <small>Length: {{ video.duration }}</small>
            </div>
            <div>
            {% if video.first_broadcast %}
                <small>First broadcast: <i>{{ video.first_broadcast.starttime }}</i></small>
            {% else %}
                <small>Not broadcast yet.</i></small>
            {% endif %}
            <!-- <div>Previous broadcast: <i> {{ video.last_broadcast.starttime }}</i></div> --> 
            </div>
        {% if video.has_tono_records %}
            <div><img src="/static/tono-logo.gif" alt="TONO" style="margin:5px;"/></div>
        {% else %}
        {% endif %}
    </div>
</div>
{% if video.header %}
<div class="video-description">
    {{ video.header|linebreaks }}
    <!--
    <ul style="clear:both;">
    	<li><b>History</b></li>
        {% for event in video.schedule  %}
            <li>{{ event }}</li>
        {% endfor %}

    </ul>
    -->
</div>
{% endif %}
{% endblock content %}
