<!-- VOD Player -->
<div class="player-container">
   {% if video_error %}
   <div id="player-error-container" style="background-image: url('{{ video.large_thumbnail_url }}');">
       <div id="player-error-message"><h1>{{ video_error }}</h1>{{ video_error_explanation }}</div>
   </div>
   {% elif video.ogv_url or video.mp4_url %}
   <video class="player" poster="{{ video.large_thumbnail_url }}" controls>
     {% if video.ogv_url %}
       <source src="{{ video.ogv_url }}" type="video/ogg"/>
     {% endif %}
     {% if video.mp4_url %}
        <source src="{{ video.mp4_url }}" type="video/mp4"/>
     {% endif %}
       <div id="player-error-container" style="background-image: url('{{ video.large_thumbnail_url }}');">
           <div id="player-error-message">
               <h1>Browser does not support HTML5 video</h1>
               Please use Chrome, Opera, Firefox or any other browser which supports Ogg Theora.
           </div>
       </div>
   </video>
   {% else %}
   <div id="player-error-container" style="background-image: url('{{ video.large_thumbnail_url }}');">
       <div id="player-error-message"><h1>Video not available</h1></div>
   </div>
   {% endif %}
</div>
<!-- VOD Player end -->