{% extends "base_generic.html" %}

{% block style %}
  <style>
    h1, p {
      font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    }

    p {
      margin: .5em 2em;
      width: 80%;
    }

    #mainbox {
      width: 80%;
      margin: 0 50px 30px 50px;
    }
  </style>
{% endblock style %}

{% block content %}
  <div id="mainbox">
    <p>Samtidig med flyttingen av maskinparken fra TV8 til Oslo
    Studentersamfund i februar 2013 ble helt ny teknisk løsning basert på fri
    programvare tatt i bruk.

    <p>Dessverre mangler vi ressurser til å drive den gamle proprietære
    løsningen samtidig med den nye løsningen, og vi har dermed vært nødt
    til å ta ned den gamle løsningen.  Konsekvensen er at den
    Silverlightbaserte løsningen er borte og administrasjonsgrensesnittet
    er mangelfullt.  Vi jobber med å erstatte den med en fri
    programvarebasert løsning.

    <p>Om du ønsker å laste opp nye videoer, eller legge dem på sendeplanen,
    vil vi med glede hjelpe deg med dette manuelt. Vennligst send din
    henvendelse til <a href="mailto:post@frikanalen.no">post@frikanalen.no</a>
    og vi vil komme tilbake til deg så fort som mulig.

    <p>Med vennlig hilsen,<br>
      Frikanalen
  </div>
{% endblock content %}
