{% extends "base_generic.html" %}

{% block heading-title %}{% endblock %}

{% block style %}
  <style>
  #live {
    background-color: black;
  }
  #live h1 {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 0 3px;
    margin: 0;
  }
  video {
    max-height: 65vh;
    max-width: 100%;
  }
  #twitter {
    margin: 20px auto;
    max-width: 520px;
  }
  </style>
{% endblock style %}

{% block content %}
<div id="mainbox">
  <div id=live>
    <h1>{% trans "Frikanalen broadcast" %}</h1>
    <video width=1024 height=576 controls src="http://video.nuug.no/frikanalen.webm"></video>
  </div>
  <div id=twitter>
    <a class="twitter-timeline" href="https://twitter.com/Frikanalen" data-widget-id="389487927782162432">{% trans "Tweets by @Frikanalen" %}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
{% endblock content %}
