body, html
  background: #b6b6b6

header
  width: 100%
  margin-bottom: 15px
  background: white
  .navbar-brand img 
    padding: 0 7px
  .navbar
    @media screen and (min-width: 768px)
      padding: 0 40px

footer
  display: block
  width: 100%

  background-color: rgba(255, 255, 255, 0.8)
  color: rgba(0, 0, 0, 0.5)

  font-style: italic
  text-align: center

video
  width: 100%
  height: 100%
