.WindowWidget
  background-color: #343a40
  color: #eee
  margin-bottom: 20px
  padding-bottom: 3px
  padding-top: 10px
  padding-left: 30px !important

.BareWindowWidget
  padding: 0px !important

.InvisibleWindowWidget
  background-color: transparent
  color: black
