<VirtualHost *:80>
    ServerName upload.frikanalen.no
    ServerAlias ftp.frikanalen.no
    ServerAlias ftp.frikanalen.tv
    ErrorLog {{app_dir}}/logs/error.log
    CustomLog {{app_dir}}/logs/access.log combined

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:3000/
    ProxyPassReverse / http://127.0.0.1:3000/
</VirtualHost>

<VirtualHost *:443>
    ServerName upload.frikanalen.no
    ServerAlias ftp.frikanalen.no
    ServerAlias ftp.frikanalen.tv
    ErrorLog {{app_dir}}/logs/error.log
    CustomLog {{app_dir}}/logs/access.log combined

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:3000/
    ProxyPassReverse / http://127.0.0.1:3000/

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/upload.frikanalen.no/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/upload.frikanalen.no/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/upload.frikanalen.no/chain.pem
</VirtualHost>
