{% extends "base_generic.html" %}

{% block content %}
<script src=/static/react-0.13.1/react-with-addons.js></script>
<script src=/static/react-0.13.1/JSXTransformer.js></script>
<script type=text/jsx>
'use strict';

var HOUR_HEIGHT = 64;

var Days = React.createClass({
  days_: undefined,

  getDefaultProps: function() {
    return {
      hoursInDay: 24,
      startDay: new Date(),
      numberOfDays: 7,
    };
  },

  getDays: function() {
    if (this.days_) {
      return this.days_;
    }
    var from = this.props.startDay;
    var num_days = this.props.numberOfDays;
    var start = new Date(from.getFullYear(), from.getMonth(), from.getDate());
    this.days_ = [];
    for (var i=0; i<num_days; i++) {
      // Omfg, Date is mutable
      var newdate = new Date(start.valueOf());
      newdate.setDate(newdate.getDate() + i);
      this.days_.push(newdate);
    }
    return this.days_;
  },

  getDaysWithEvents: function() {
    var days_events = []
    var days = this.getDays();
    var event_i = 0;
    for (var i=0; i<days.length; i++) {
      var events = [];
      var date_str = days[i].toDateString();
      for (; event_i<this.props.events.length; event_i++) {
        var evt = this.props.events[event_i];
        if (date_str === evt.start.toDateString()) {
          events.push(evt);
        }
        else if (days[i] > evt.start) {
          continue;
        }
        else {
          break;
        }
      }

      days_events.push({day: days[i], events: events});
    }

    return days_events;
  },

  displayHours: function() {
    var disp = []
    for (var i=0; i<this.props.hoursInDay; i++) {
      if (i < 10) {
        disp.push('0' + i + ':00');
      }
      else {
        disp.push(i + ':00');
      }
    }
    return disp;
  },

  render: function() {
    var tableStyle = {
      height: HOUR_HEIGHT * 24,
    };
    var hourMarkStyle = {
      height: HOUR_HEIGHT,
    };
    return (
      <div className="Days">
        <table style={tableStyle}>
          <thead>
            <tr className="Days-titleContainer">
              <td></td>
              {this.getDays().map(function (day, i) {
                return (
                  <th className="Days-title">
                    {day.toDateString()}
                  </th>);
              })}
            </tr>
          </thead>
          <tr height="1" className="Days-markingContainer">
            <td></td>
            <td colSpan={this.props.numberOfDays} className="Days-hourContainer">
              <div className="Days-innerHourContainer">
                {this.displayHours().map(function (hour, i) {
                  return <HourRow key={'hour' + i} />;
                })}
              </div>
            </td>
          </tr>
          <tr className="Days-columnContainer">
            <td>
              {this.displayHours().map(function (hour, i) {
                return (
                  <div className="Days-hourMark" style={hourMarkStyle}>
                    {hour}
                  </div>);
              })}
            </td>
            {this.getDaysWithEvents().map(function(day, i) {
              return <Day events={day.events} key={'day-' + i} />;
            })}
          </tr>
        </table>
      </div>
    );
  },
});

var HourRow = React.createClass({
  render: function() {
    var style = {
      height: HOUR_HEIGHT,
    };
    return (
      <div className="Days-hour" style={style}>
        <div className="Days-halfHour"></div>
      </div>
    );
  },
});

var Day = React.createClass({
  render: function() {
    return (
      <td className="Days-dayColumn">
        <div>
          {this.props.events.map(function(evt, i) {
            return <Event key={'event-' + evt.pk} evt={evt} />;
          })}
        </div>
      </td>
    );
  },
});

var Event = React.createClass({
  toTimeString: function() {
    var evt = this.props.evt;
    return (
        ('0' + evt.start.getHours()).slice(-2) + ':' +
        ('0' + evt.start.getMinutes()).slice(-2));
  },

  render: function() {
    var evt = this.props.evt;
    var style = {
      top: HOUR_HEIGHT * (evt.start.getHours() + evt.start.getMinutes()/60.0),
      height: HOUR_HEIGHT * (evt.duration / (60*60)),
    };
    var isTight = style.height < 20;
    var minutes = Math.ceil(evt.duration / 60);
    var time_data = this.toTimeString() + ', ' + minutes + 'm';
    return (
      <div className={'Event' + (isTight ? ' Event--tight' : '')} style={style}>
        <a href={evt.url}>
          <div className='Event-text'>
            <div>{evt.title}</div>
            <div className='Event-timedata'>
              <small>{time_data}</small>
            </div>
          </div>
        </a>
      </div>
    );
  },
});

var events = [
{% for event in events %}
  { start: new Date("{{ event.starttime.isoformat }}"),
    duration: {{ event.duration.total_seconds }},
    pk: {{ event.pk }},
    url: "{{ event.video.get_absolute_url }}",
    title: "{{ event.video.name|default:event.default_name|escapejs }}" },
{% endfor %}
];

var start = new Date("{{ starttime.isoformat }}");
var calendar = document.getElementById('calendar');
React.render(<Days startDay={start} events={events} />, calendar);
</script>

<style>
body {
  font-family: sans-serif;
}
</style>

<style>
.Days a {
  color: black;
  text-decoration: none;
}
.Days table {
  border-spacing: 0;
  font-size: 11px;
}
.Days td {
  padding: 0;
}
.Days-columnContainer {
  vertical-align: top;
}
.Days-title {
  font-weight: normal;
}
.Days-hourContainer {
  position: relative;
}
.Days-innerHourContainer {
  border-bottom: 2px solid #ccc;
  position: absolute;
  width: 100%;
}
.Days-hour {
}
.Days-halfHour {
  border-bottom: 1px dotted #ddd;
  border-top: 1px solid #ddd;
  height: calc(50% - 2px);
}
.Days-hourMark {
  border-right: 1px solid #ccc;
  color: #555;
  padding-right: 5px;
}
.Days-dayColumn {
  border-right: 1px solid #ccc;
  position: relative;
  width: 200px;
}

.Event {
  background: #E6EEF7;
  border-radius: 3px;
  border-top: 1px solid #bad0e8;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  transition: all 0.4s;
  width: 90%;
}
.Event:hover {
  background: #F9F7B6;
  border-top: 1px solid #DAC16C;
  overflow: visible;
  z-index: 10;
}
.Event-text {
  padding: 5px;
}
.Event-text:hover {
  background: #F9F7B6;
  transition: background-color 0.4s;
}
.Event--tight .Event-text {
  opacity: 0;
  transition: opacity 0.4s;
}
.Event--tight:hover .Event-text {
  opacity: 1;
}
.Event-timedata {
  text-align: right;
}
</style>

<div id=calendar></div>
{% endblock %}
