{% extends "base_generic.html" %}

{% block content %}
<script src=https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js></script>
<script type=text/jsx>
'use strict';

let HOUR_HEIGHT = 64;

let Days = React.createClass({
  getDefaultProps: function() {
    return {
      hoursInDay: 24,
      startDay: new Date(),
      numberOfDays: 7,
    };
  },

  generateDays: function(from, num_days) {
    let days = [];
    let start = new Date(from.getFullYear(), from.getMonth(), from.getDate());
    for (let i=0; i<num_days; i++) {
      // Omfg, Date is mutable
      let newdate = new Date(start.valueOf());
      newdate.setDate(newdate.getDate() + i);
      days.push(newdate);
    }
    return days;
  },

  getDaysWithEvents: function() {
    let days_events = []
    let days = this.generateDays(
        this.props.startDay, this.props.numberOfDays);
    let event_i = 0;
    for (let i=0; i<days.length; i++) {
      let events = [];
      let date_str = days[i].toDateString();
      for (; event_i<this.props.events.length; event_i++) {
        let evt = this.props.events[event_i];
        if (date_str === evt.start.toDateString()) {
          events.push(evt);
        }
        else if (days[i] > evt.start) {
          continue;
        }
        else {
          break;
        }
      }

      days_events.push({day: days[i], events: events});
    }

    return days_events;
  },

  displayHours: function() {
    let disp = []
    for (let i=0; i<this.props.hoursInDay; i++) {
      if (i < 10) {
        disp.push('0' + i + ':00');
      }
      else {
        disp.push(i + ':00');
      }
    }
    return disp;
  },

  render: function() {
    let tableStyle = {
      height: HOUR_HEIGHT * 24,
    };
    let hourMarkStyle = {
      height: HOUR_HEIGHT,
    };
    return (
      <div className="Days">
        <table style={tableStyle}>
          <tr height="1" className="Days-markingContainer">
            <td></td>
            <td colSpan={this.props.numberOfDays} className="Days-hourContainer">
              <div className="Days-innerHourContainer">
                {this.displayHours().map(function (hour, i) {
                  return <HourRow key={'hour' + i} />;
                })}
              </div>
            </td>
          </tr>
          <tr className="Days-columnContainer">
            <td>
              {this.displayHours().map(function (hour, i) {
                return (
                  <div className="Days-hourMark" style={hourMarkStyle}>
                    {hour}
                  </div>);
              })}
            </td>
            {this.getDaysWithEvents().map(function(day, i) {
              return <Day events={day.events} key={'day-' + i} />;
            })}
          </tr>
        </table>
      </div>
    );
  },
});

let HourRow = React.createClass({
  render: function() {
    let style = {
      height: HOUR_HEIGHT,
    };
    return (
      <div className="Days-hour" style={style}>
        <div className="Days-halfHour"></div>
      </div>
    );
  },
});

let Day = React.createClass({
  render: function() {
    return (
      <td className="Days-dayColumn">
        <div>
          {this.props.events.map(function(evt, i) {
            return <Event key={'event-' + evt.pk} evt={evt} />;
          })}
        </div>
      </td>
    );
  },
});

let Event = React.createClass({
  toTimeString: function() {
    let evt = this.props.evt;
    return (
        ('0' + evt.start.getHours()).slice(-2) + ':' +
        ('0' + evt.start.getMinutes()).slice(-2));
  },

  render: function() {
    let evt = this.props.evt;
    let style = {
      top: HOUR_HEIGHT * (evt.start.getHours() + evt.start.getMinutes()/60.0),
      height: HOUR_HEIGHT * (evt.duration / (60*60)),
    };
    let isTight = style.height < 20;
    let minutes = Math.ceil(evt.duration / 60);
    let time_data = this.toTimeString() + ', ' + minutes + 'm';
    return (
      <div className="Event" style={style}>
        <div className={'Event-text' + (isTight ? ' Event-text--tight' : '')}>
          <div>{evt.title}</div>
          <div className='Event-timedata'>
            <small>{time_data}</small>
           </div>
        </div>
      </div>
    );
  },
});

let events = [
{% for event in events %}
  { start: new Date("{{ event.starttime.isoformat }}"),
    duration: {{ event.duration.total_seconds }},
    pk: {{ event.pk }},
    title: "{{ event.video.name|default:event.default_name }}" },
{% endfor %}
];

let start = new Date("{{ starttime.isoformat }}");
let calendar = document.getElementById('calendar');
React.render(<Days startDay={start} events={events} />, calendar);
</script>

<style>
body {
  font-family: sans-serif;
}
</style>

<style>
.Days table {
  border-spacing: 0;
  font-size: 11px;
}
.Days td {
  padding: 0;
}
.Days-columnContainer {
  vertical-align: top;
}

.Days-hourContainer {
  position: relative;
}
.Days-innerHourContainer {
  border-bottom: 2px solid #ccc;
  position: absolute;
  width: 100%;
}
.Days-hour {
}
.Days-halfHour {
  border-bottom: 1px dotted #ddd;
  border-top: 1px solid #ddd;
  height: calc(50% - 2px);
}
.Days-hourMark {
  border-right: 1px solid #ccc;
  color: #555;
  padding-right: 5px;
}
.Days-dayColumn {
  border-right: 1px solid #ccc;
  position: relative;
  width: 200px;
}

.Event {
  background: #E6EEF7;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 90%;
}
.Event:hover {
  background: #F9F7B6;
  overflow: visible;
  z-index: 10;
}
.Event-text {
  background: inherit;
  padding: 5px;
}
.Event-text:hover {
}
.Event-text--tight {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0.6;
  white-space: nowrap;
  margin-bottom: 4px;
}
.Event-text--tight:hover {
  line-height: initial;
  white-space: normal;
}
.Event-timedata {
  text-align: right;
  visibility: hidden;
}
.Event-text:hover .Event-timedata {
  visibility: visible;
}
</style>

<div id=calendar></div>
{% endblock %}
