{% extends "base_generic.html" %}

{% block style %}
<style>
.video_container {
    margin: 0px 0px 0 0;
    overflow: hidden;
}

.videolist_container {
    clear:both;
    font-size: 12px;
}

.video_container ul {
    list-style: none;
    padding: 5px 0 5px 5px;
    margin: 5px 5px 5px 5px;
    clear: both;
}

.video_container li {
    padding:0;
    margin:0;
    float: left;
    width: 240px;
}

a.create {
    background-color: crimson;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
}
</style>
{% endblock style %}

{% block content %}
<a class=create href="{% url 'create_home' %}">New video</a>

<div class="navigation_container">
{% if page.paginator.num_pages > 1%}
    <div class="navigation">
        <div class="inner">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}"> Previous</a>
            {% else %}
            First
            {% endif %}
        </div>
    </div>

    <div class="navigation">
        <div class="inner">
            {{ page.number }} of {{ page.paginator.num_pages }}
        </div>
    </div>

    <div class="navigation">
        <div class="inner">
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}"> Next</a>
            {% else %}
            Last
            {% endif %}
        </div>
    </div>
{% endif %}
</div>

<div class="videolist_container">
{% for video in videos %}
<div class="video_container">
<ul>
    <!--
    <li>
        <a href="/agenda/video/{{ video.id }}">
            <img src="{{ MEDIA_URL }}videos/{{ video.large_thumbnail_url }}"/>
        </a>
    </li>
    -->
    <li>
        <a href="{% url 'manage-video-edit' video.id %}">
            <b>{{ video.name }}</b>
        </a>
    </li>
    <li><i>{{ video.editor }}</i></li>
    {% if video.tags %}
      <li>{{ video.tags }}</li>
    {% else %}
      <li>&nbsp;</li>
    {% endif %}
    <li>{{ video.last_broadcast.starttime }}&nbsp;</li>
    <li><a href="{% url 'vod-video-detail' video.id %}">public page</a></li>
    <!--<li> {{ video.last_broadcast.duration }} </li> -->
    <!--
    {% if video.header %}
    <li><i>{{ video.header }}</i></li>
    {% endif %}
    -->

</ul>
</div>
{% endfor %}
</div>
{% endblock content %}
