[Unit]
  Description=Frikanalen media mount
  Wants=networking.service remote-fs.target network-online.target systemd-resolved.service
  After=networking.service remote-fs.target network-online.target systemd-resolved.service

[Mount]
  What=//192.168.3.59/media
  Where=/mnt/media
  Options=_netdev,credentials=/etc/smb_creds,ro,ip=192.168.3.59
  Type=cifs

[Install]
  WantedBy=multi-user.target
