[Unit]
AssertPathExists={{app_dir}}/app

[Unit]
Description=Frikanalen Playout
After=syslog.target network.target mnt-media.mount

[Service]
Type=simple
User={{app_user}}
Group={{app_user}}
WorkingDirectory={{app_dir}}/app
ExecStart={{app_dir}}/env/bin/python fk-playout-service
Restart=always

[Install]
WantedBy=default.target
