apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: playout-ng
spec:
  serviceName: playout-ng
  selector:
    matchLabels:
      app: playout-ng
  template:
    metadata:
      labels:
        app: playout-ng
    spec:
      containers:
      - name: playout-ng
        image: frikanalen/playout-ng:latest
        imagePullPolicy: Always
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
      volumes:
      - name: tz-config
        hostPath:
          path: /usr/share/zoneinfo/Europe/Oslo
          type: File
