apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: playout-ng
spec:
  serviceName: playout-ng
  selector:
    matchLabels:
      app: playout-ng
  template:
    metadata:
      annotations:
        co.elastic.logs/json.add_error_key: "true"
        co.elastic.logs/json.overwrite_keys: "true"
        co.elastic.logs/json.keys_under_root: "true"
      labels:
        app: playout-ng
    spec:
      containers:
      - name: playout-ng
        image: frikanalen/playout-ng:latest
        env:
          - name: CASPAR_HOST
            value: tx2
        imagePullPolicy: Always
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
      volumes:
      - name: tz-config
        hostPath:
          path: /usr/share/zoneinfo/Europe/Oslo
          type: File
