[Unit]
AssertPathExists={{upload_app_dir}}

[Service]
User={{app_user}}
Group={{app_user}}
PIDFile=/run/fkupload/gunicorn.pid
WorkingDirectory={{upload_app_dir}}
Environment=FK_API={{fk_api_url}}
Environment=UPLOAD_DIR={{upload_dir}}
Environment=FINISHED_DIR={{upload_finished_dir}}
Environment=FK_TOKEN={{fk_auth_token}}
ExecStart={{app_dir}}/env/bin/gunicorn --pid /run/fkupload/gunicorn.pid fkupload:app -b {{app_bind}}
Restart=always
PrivateTmp=true
RuntimeDirectory=fkupload
#NoNewPrivileges=true
ExecReload=/bin/kill -s TERM $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=default.target
