[Unit]
AssertPathExists={{app_dir}}/app

[Service]
User={{app_user}}
Group={{app_user}}
PIDFile=/run/fkupload/gunicorn.pid
WorkingDirectory={{app_dir}}/app
Environment=UPLOAD_DIR={{app_dir}}/uploaded_files
Environment=FK_TOKEN={{ fk_auth_token }}
ExecStart={{app_dir}}/env/bin/gunicorn --pid /run/fkupload/gunicorn.pid fkupload:app -b {{app_bind}}
Restart=always
PrivateTmp=true
RuntimeDirectory=fkupload
#NoNewPrivileges=true
ExecReload=/bin/kill -s TERM $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=default.target
