#!/bin/bash
set -e

refname="$1"
oldrev="$2"
newrev="$3"

if [ -z "$GIT_DIR" ]; then echo GIT_DIR missing; exit 1; fi
if [ -z "$refname" ]; then echo params missing; exit 1; fi

echo "> Deploying app"
dir={{app_dir}}/app
git --work-tree="$dir" checkout -qf "$newrev"
cd $dir

# activate virtualenv
. "{{app_dir}}/env/bin/activate"

# pass env vars to manage.py, a bit hacky, maybe use .env file?
export DJANGO_SETTINGS_MODULE=fkbeta.settings.production
export SECRET_KEY={{app_secret_key}}
export DATABASE_USER={{app_user}}
export DATABASE_PASS={{app_db_pass}}
export DATABASE_NAME={{app_db_name}}

# should only do these when required
pip install -qr "$dir/requirements.txt"
packages/fkweb/manage.py collectstatic --noinput | tail -3 # only last few lines useful
packages/fkweb/manage.py migrate --noinput

sudo systemctl restart fkweb

exit 0
