.player-container {
    padding: 0px 16px 16px 16px;
    }

.widget-container {
  width: 640px;
  float: left;
  height: 360px;
}
.player {
    height: 360px;
    width: 100%;
}

#player-error-container {
    background-size: contain;
    height: 360px;
    overflow: auto;
}

#player-error-message  {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 3em;
    text-align: center;
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

#player-error-message h1 {
    margin: 0;
    font-size: 2em;
}
