name: Build django-backend package
on:
  push:
    branches:
      - master
    paths:
      - 'packages/fkweb/**'
  pull_request:
    branches:
      - 'master'
    paths:
      - 'packages/fkweb/**'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run workflow on'
        required: true
        default: 'master'
        
jobs:
  build:
    name: Build and push docker package
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        tags: |
          type=ref,event=branch
          type=ref,event=tag
          type=ref,event=pr
        with:
          images: frikanalen/django-backend
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - 
        name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: packages/fkweb
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
