name: Unit test Django API service
on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/django-backend.test.yml'
      - 'packages/fkweb/**'
jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements-dev.txt
        working-directory: packages/fkweb
      - name: Run tests
        run: python manage.py test
        working-directory: packages/fkweb
