name: File upload receiver
on:
  push:
    branches:
      - master
    paths:
      - 'packages/utils/upload-receiver/**'

jobs:
  docker:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout master
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build docker
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          tags: frikanalen/upload-receiver:latest
          context: packages/utils/upload-receiver
          push: true
          pull: true
          file: packages/utils/upload-receiver/Dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
